<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <title>Forum</title>
</head>
<body>
   <div class="wrapper">
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit">Login</button>
        </form>
        <br>
        {{if .ValidationError}}
            <div class="error">
                {{.ValidationError}}
            </div>
        {{end}}
        <div class="signup-link">
            Don't have an account? <a href="/signup">Sign up here</a>
        </div>
    </div>
   </div>
</body>
</html>
