{{template "head"}}
<body>
   {{template "navBar" .}}
   <div class="wrapper">
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit">Login</button>
        </form>
        <br>
        {{if .ValidationError}}
            <div class="error">
                {{.ValidationError}}
            </div>
        {{end}}
        <div class="signup-link">
            Don't have an account? <a href="/signup">Sign up here</a>
        </div>
    </div>
   </div>
</body>
{{template "footer"}}
</html>
